<nav>
  <div class="logo">
    <a id="logo">milliyoncu</a>
  </div>
  <ul class="nav-links">
    <li routerLink="/clothes"><a>Ana Sayfa</a></li>
    <li><a href="#">Hakkımızda</a></li>
    <li>
      <a>Mağazalarımız</a>
    </li>
    <li><a href="#">Projelerimiz</a></li>

    <li class="bagicon dropdown">
      <button>
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="19"
            height="19"
            fill="currentColor"
            class="bi bi-bag"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
            />
          </svg>
          <a class="quantity">{{ cartItems.length }}</a>
        </a>
      </button>
      <div class="bag">
        <app-bag-summary [totalPrice]="totalPrice"></app-bag-summary>
      </div>
    </li>
    <li *ngIf="getFirstName()" routerLink="/login" class="login">
      <a>Giriş Yap</a>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="19"
        height="19"
        fill="currentColor"
        class="bi bi-box-arrow-in-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
        />
        <path
          fill-rule="evenodd"
          d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
        />
      </svg>
    </li>
    <li *ngIf="!getFirstName()" class="login">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="19"
        height="19"
        fill="currentColor"
        class="bi bi-person-circle space"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        />
      </svg>
      <a class="firstname">{{ firstName }}</a>
      <a class="profile dropdown1">
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            class="bi bi-caret-down space1"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
            />
          </svg>
        </button>

        <ul class="profiledetail">
          <li class="profilebutton"><a>Profil</a></li>
          <li>Çıkış Yap</li>
        </ul>
      </a>
    </li>
  </ul>
  <div class="search-box">
    <input
      type="text"
      class="search-txt"
      id="filterText"
      [(ngModel)]="filterText"
    />

    <a class="search-btn"> Ara</a>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<script src="app.js"></script>
