* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginform {
  max-height: 420px;
  border-radius: 24px;
  background-color: rgb(249, 246, 255);
  font-family: "Poppins", sans-serif;
  width: 600px;
  height: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.loginform input[type="email"],
.loginform input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  outline: none;
}
.loginform h3 {
  color: #520000;
  font-weight: 500;
}
.loginform input[type="email"]:focus,
.loginform input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.loginform button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  cursor: pointer;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  outline: none;
}
.loginform button:hover {
  background: #2ecc71;
}
.routerregister {
  text-decoration: none;
}
